In [1]:
import talib
import pandas as pd
import numpy as np

In [2]:
happstmnds = pd.read_csv('HAPPSTMNDS.csv')
df = pd.read_csv('HAPPSTMNDS.csv')

In [3]:
happstmnds

,Date,Open,High,Low,Close,Adj Close,Volume
0,2021-11-01,1270.000000,1270.000000,1237.000000,1261.250000,1256.611938,202057
1,2021-11-02,1261.900024,1274.000000,1245.000000,1251.050049,1246.449341,137152
2,2021-11-03,1259.000000,1264.000000,1212.000000,1233.300049,1228.764771,164917
3,2021-11-04,1249.800049,1290.000000,1245.000000,1284.650024,1279.925903,104886
4,2021-11-08,1284.650024,1333.000000,1284.650024,1328.900024,1324.013184,163303
...,...,...,...,...,...,...,...
244,2022-10-25,999.950012,999.950012,985.750000,987.450012,987.450012,176666
245,2022-10-27,993.250000,994.950012,981.500000,984.500000,984.500000,201212
246,2022-10-28,987.950012,989.000000,972.000000,973.950012,973.950012,203687
247,2022-10-31,978.849976,982.849976,969.000000,970.349976,970.349976,264701
248,2022-11-01,972.049988,985.000000,971.450012,977.400024,977.400024,274997

In [4]:
num = talib.CDLENGULFING(df['Open'], df['High'], df['Low'], df['Close'])
print(num[num !=0])

6     -100
10    -100
54    -100
65    -100
122   -100
126    100
138   -100
190   -100
208   -100
211    100
221    100
223   -100
233    100
236   -100
241    100
dtype: int32

In [5]:
engulfing = talib.CDLENGULFING(df['Open'], df['High'], df['Low'], df['Close'])
morning_star = talib.CDLMORNINGSTAR(df['Open'], df['High'], df['Low'], df['Close'])
eveningstar = talib.CDLEVENINGSTAR(df['Open'], df['High'], df['Low'], df['Close'])
whitesoldiers = talib.CDL3WHITESOLDIERS(df['Open'], df['High'], df['Low'], df['Close'])
dojistar = talib.CDLDOJISTAR(df['Open'], df['High'], df['Low'], df['Close'])
hammer = talib.CDLHAMMER(df['Open'], df['High'], df['Low'], df['Close'])
harami = talib.CDLHARAMI(df['Open'], df['High'], df['Low'], df['Close'])
invertedhammer = talib.CDLINVERTEDHAMMER(df['Open'], df['High'], df['Low'], df['Close'])
shootingstar = talib.CDLSHOOTINGSTAR(df['Open'], df['High'], df['Low'], df['Close'])

In [6]:
df['Engulfing'] = engulfing
df['Morning Star'] = morning_star
df['Evening Star'] = eveningstar
df['3 White Soldiers'] = whitesoldiers
df['Doji Star'] = dojistar
df['Hammer'] = hammer
df['Harami'] = harami
df['Inverted Hammer'] = invertedhammer
df['Shooting Star'] = shootingstar

In [7]:
df[-6:-1:1]

,Date,Open,High,Low,Close,Adj Close,Volume,Engulfing,Morning Star,Evening Star,3 White Soldiers,Doji Star,Hammer,Harami,Inverted Hammer,Shooting Star
243,2022-10-24,1004.950012,1004.950012,993.349976,996.650024,996.650024,89752,0,0,0,0,0,0,100,0,0
244,2022-10-25,999.950012,999.950012,985.750000,987.450012,987.450012,176666,0,0,0,0,0,0,0,0,0
245,2022-10-27,993.250000,994.950012,981.500000,984.500000,984.500000,201212,0,0,0,0,0,0,0,0,0
246,2022-10-28,987.950012,989.000000,972.000000,973.950012,973.950012,203687,0,0,0,0,0,0,0,0,0
247,2022-10-31,978.849976,982.849976,969.000000,970.349976,970.349976,264701,0,0,0,0,0,0,0,0,0

In [8]:
def get_patterns(df):
    engulfing = talib.CDLENGULFING(df['Open'], df['High'], df['Low'], df['Close'])
    morning_star = talib.CDLMORNINGSTAR(df['Open'], df['High'], df['Low'], df['Close'])
    eveningstar = talib.CDLEVENINGSTAR(df['Open'], df['High'], df['Low'], df['Close'])
    whitesoldiers = talib.CDL3WHITESOLDIERS(df['Open'], df['High'], df['Low'], df['Close'])
    dojistar = talib.CDLDOJISTAR(df['Open'], df['High'], df['Low'], df['Close'])
    hammer = talib.CDLHAMMER(df['Open'], df['High'], df['Low'], df['Close'])
    harami = talib.CDLHARAMI(df['Open'], df['High'], df['Low'], df['Close'])
    invertedhammer = talib.CDLINVERTEDHAMMER(df['Open'], df['High'], df['Low'], df['Close'])
    shootingstar = talib.CDLSHOOTINGSTAR(df['Open'], df['High'], df['Low'], df['Close'])
    
    
    df['Engulfing'] = engulfing
    df['Morning Star'] = morning_star
    df['Evening Star'] = eveningstar
    df['3 White Soldiers'] = whitesoldiers
    df['Doji Star'] = dojistar
    df['Hammer'] = hammer
    df['Harami'] = harami
    df['Inverted Hammer'] = invertedhammer
    df['Shooting Star'] = shootingstar
    
    df = df
    return df

In [9]:
df = get_patterns(happstmnds)
df

,Date,Open,High,Low,Close,Adj Close,Volume,Engulfing,Morning Star,Evening Star,3 White Soldiers,Doji Star,Hammer,Harami,Inverted Hammer,Shooting Star
0,2021-11-01,1270.000000,1270.000000,1237.000000,1261.250000,1256.611938,202057,0,0,0,0,0,0,0,0,0
1,2021-11-02,1261.900024,1274.000000,1245.000000,1251.050049,1246.449341,137152,0,0,0,0,0,0,0,0,0
2,2021-11-03,1259.000000,1264.000000,1212.000000,1233.300049,1228.764771,164917,0,0,0,0,0,0,0,0,0
3,2021-11-04,1249.800049,1290.000000,1245.000000,1284.650024,1279.925903,104886,0,0,0,0,0,0,0,0,0
4,2021-11-08,1284.650024,1333.000000,1284.650024,1328.900024,1324.013184,163303,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244,2022-10-25,999.950012,999.950012,985.750000,987.450012,987.450012,176666,0,0,0,0,0,0,0,0,0
245,2022-10-27,993.250000,994.950012,981.500000,984.500000,984.500000,201212,0,0,0,0,0,0,0,0,0
246,2022-10-28,987.950012,989.000000,972.000000,973.950012,973.950012,203687,0,0,0,0,0,0,0,0,0
247,2022-10-31,978.849976,982.849976,969.000000,970.349976,970.349976,264701,0,0,0,0,0,0,0,0,0
248,2022-11-01,972.049988,985.000000,971.450012,977.400024,977.400024,274997,0,0,0,0,0,0,0,0,0

In [10]:
birla = pd.read_csv('BIRLACORPN.csv')

In [11]:
get_patterns(birla)

,Date,Open,High,Low,Close,Adj Close,Volume,Engulfing,Morning Star,Evening Star,3 White Soldiers,Doji Star,Hammer,Harami,Inverted Hammer,Shooting Star
0,2022-10-03,953.250000,960.599976,928.000000,934.900024,934.900024,157696,0,0,0,0,0,0,0,0,0
1,2022-10-04,948.799988,952.049988,938.150024,946.700012,946.700012,64621,0,0,0,0,0,0,0,0,0
2,2022-10-06,954.950012,958.450012,941.099976,943.500000,943.500000,86481,0,0,0,0,0,0,0,0,0
3,2022-10-07,948.000000,950.000000,940.000000,944.549988,944.549988,47838,0,0,0,0,0,0,0,0,0
4,2022-10-10,936.250000,939.950012,920.099976,926.700012,926.700012,61903,0,0,0,0,0,0,0,0,0
5,2022-10-11,931.349976,935.799988,899.549988,905.500000,905.500000,81640,0,0,0,0,0,0,0,0,0
6,2022-10-12,900.000000,917.799988,900.000000,903.000000,903.000000,78654,0,0,0,0,0,0,0,0,0
7,2022-10-13,907.549988,910.000000,891.049988,904.099976,904.099976,36430,0,0,0,0,0,0,0,0,0
8,2022-10-14,910.150024,923.900024,893.000000,896.500000,896.500000,137459,0,0,0,0,0,0,0,0,0
9,2022-10-17,896.000000,922.349976,895.000000,902.150024,902.150024,147568,0,0,0,0,0,0,0,0,0
10,2022-10-18,908.000000,948.200012,903.799988,944.200012,944.200012,154796,0,0,0,0,0,0,0,0,0
11,2022-10-19,942.049988,948.700012,922.000000,935.950012,935.950012,65566,0,0,0,0,0,0,-100,0,0
12,2022-10-20,935.000000,939.799988,896.250000,909.450012,909.450012,104095,0,0,0,0,0,0,0,0,0
13,2022-10-21,914.000000,919.750000,896.000000,899.900024,899.900024,76053,0,0,0,0,0,0,0,0,0
14,2022-10-24,909.900024,926.000000,899.799988,920.549988,920.549988,23876,0,0,0,0,0,0,0,0,0
15,2022-10-25,921.000000,926.349976,900.000000,909.049988,909.049988,56826,-100,0,0,0,0,0,0,0,0
16,2022-10-27,909.900024,917.200012,893.250000,898.099976,898.099976,110643,0,0,0,0,0,0,0,0,0
17,2022-10-28,902.599976,907.950012,896.000000,902.750000,902.750000,76322,0,0,0,0,0,0,0,0,0
18,2022-10-31,907.299988,935.000000,903.200012,923.000000,923.000000,123521,0,0,0,0,0,0,0,0,0
19,2022-11-01,931.250000,963.000000,929.400024,957.049988,957.049988,160889,0,0,0,0,0,0,0,0,0

In [12]:
print(happstmnds.loc[happstmnds['Shooting Star']!= 0])

           Date         Open         High          Low        Close  \
20   2021-12-01  1206.750000  1239.000000  1204.000000  1210.349976
105  2022-04-04  1102.000000  1124.000000  1100.050049  1110.599976
108  2022-04-07  1139.699951  1179.400024  1137.050049  1145.400024
186  2022-07-29   976.549988   987.900024   965.000000   967.950012
214  2022-09-12  1057.699951  1092.900024  1055.050049  1064.150024

       Adj Close  Volume  Engulfing  Morning Star  Evening Star  \
20   1207.489136  100147          0             0             0
105  1107.974976  339117          0             0             0
108  1142.692749  664341          0             0             0
186   967.950012  400175          0             0             0
214  1064.150024  813046          0             0             0

     3 White Soldiers  Doji Star  Hammer  Harami  Inverted Hammer  \
20                  0          0       0       0                0
105                 0          0       0       0                0
108                 0          0       0       0                0
186                 0          0       0       0                0
214                 0          0       0       0                0

     Shooting Star
20            -100
105           -100
108           -100
186           -100
214           -100

In [13]:
def find_(df, pattern):
    print(df.loc[df[pattern]!= 0])

In [17]:
find_(happstmnds, "Engulfing")

           Date         Open         High          Low        Close  \
6    2021-11-10  1344.000000  1345.000000  1312.000000  1323.199951
10   2021-11-16  1320.000000  1327.000000  1300.000000  1308.199951
54   2022-01-18  1340.000000  1345.000000  1300.000000  1306.400024
65   2022-02-03  1194.800049  1194.800049  1150.000000  1159.400024
122  2022-04-29  1018.900024  1027.349976   997.549988   999.900024
126  2022-05-06   970.000000  1024.900024   959.000000  1003.000000
138  2022-05-24   929.400024   932.000000   902.299988   906.049988
190  2022-08-04   982.000000   994.299988   946.000000   968.750000
208  2022-09-02  1040.000000  1044.699951  1015.000000  1020.750000
211  2022-09-07  1014.000000  1038.599976  1002.049988  1027.599976
221  2022-09-21  1002.000000  1063.000000   997.099976  1019.750000
223  2022-09-23  1025.000000  1033.699951  1007.000000  1012.150024
233  2022-10-10   995.000000  1036.750000   992.250000  1027.699951
236  2022-10-13  1004.950012  1004.950012   990.000000   992.799988
241  2022-10-20   984.000000  1023.000000   983.950012  1009.950012

       Adj Close  Volume  Engulfing  Morning Star  Evening Star  \
6    1320.072388   74669       -100             0             0
10   1305.107910  107101       -100             0             0
54   1303.312134  174556       -100             0             0
65   1156.659668  187294       -100             0             0
122   997.536621  218322       -100             0             0
126  1000.629272  762028        100             0             0
138   903.908447  147055       -100             0             0
190   968.750000  356009       -100             0             0
208  1020.750000  253491       -100             0             0
211  1027.599976  345088        100             0             0
221  1019.750000  709597        100             0             0
223  1012.150024  304028       -100             0             0
233  1027.699951  349733        100             0             0
236   992.799988  120106       -100             0             0
241  1009.950012  270985        100             0             0

     3 White Soldiers  Doji Star  Hammer  Harami  Inverted Hammer  \
6                   0          0       0       0                0
10                  0          0       0       0                0
54                  0          0       0       0                0
65                  0          0       0       0                0
122                 0          0       0       0                0
126                 0          0       0       0                0
138                 0          0       0       0                0
190                 0          0       0       0                0
208                 0          0       0       0                0
211                 0          0       0       0                0
221                 0          0       0       0                0
223                 0          0       0       0                0
233                 0          0       0       0                0
236                 0          0       0       0                0
241                 0          0       0       0                0

     Shooting Star
6                0
10               0
54               0
65               0
122              0
126              0
138              0
190              0
208              0
211              0
221              0
223              0
233              0
236              0
241              0